<%include ../header %>
		<header>
			<h1>API Investments</h1>
			<h4>Welcome!</h4>
		</header>
		<section>
			<p>To get the current value of the <b>Poupança</b>: <a href="/poupanca">Click here</a></p>
		</section>
		<section>
			<p>To get the current value of the <b>SELIC</b>: <a href="/selic">Click here</a></p>
		</section>
		<section>
			<p>To get the current value of the <b>IPCA</b>: <a href="/ipca">Click here</a></p>
		</section>
		<section>
			<p>To get the current value of the <b>Títulos Tesouro Direto</b>: <a href="/titulos-tesouro-direto">Click here</a></p>
		</section>
<%include ../footer %>
		