<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>API Investments</title>
	</head>
	<body>

		<%include ../header %>
		<section>
			<p>To get the current value of the <b>Poupança</b>: <a href="/poupanca">Click here</a></p>
		</section>
		<section>
			<p>To get the current value of the <b>SELIC</b>: <a href="/selic">Click here</a></p>
		</section>
		<section>
			<p>To get the current value of the <b>IPCA</b>: <a href="/ipca">Click here</a></p>
		</section>
		<section>
			<p>To get the current value of the <b>Títulos Tesouro Direto</b>: <a href="/titulos-tesouro-direto">Click here</a></p>
		</section>
		<%include ../footer %>

	</body>
</html>		
		